.tab {
 margin-left: 2.5em
}

nav
{
   position: fixed;
   top: 0px;
}
body {
    background-color: wheat;
}
.flexing {
    display: inline-flex;
    flex-wrap: nowrap;
    background-color: wheat;
  }
  
.flexing > div {
    background-color: #f1f1f1;
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
}